<!DOCTYPE html>
<html>
  <head>
    <title>Quadramics | About Us </title>
  </head>
  <body>
    <section class="page" id="about">
      <section class="text">
      <h1>About Us</h1>
      <h2>Who are you people?</h2>
        <p>Quadramics is a student theatre company at the glorious <a href="http://www.upenn.edu" target="_blank">University of Pennsylvan-i-a</a>. Students are our directors, producers, actors, singers, band members and board.
        <br><br>Quadramics is also the theatre group focused on enjoying life and getting the best experience possible out of running and working on a production. We are fun-loving, hardworking-more-often-than-not, ridiculous, zany people who share a passion for good times and great theatre—so come join us for the fun, madness, and, as always, the drama!
        <br><br>Oh, and download the Q theme song <a href="http://www.dolphin.upenn.edu/quadramx/QuadramxTheme.mp3" target="_blank">here</a>. It is the best thing to ever happen.</p>
       <p><strong>What we do:</strong>
         </p><ul>
         <li>Fall Play</li>
             Typically a comedy or dramedy with a smaller cast and a cozier setting. Past fall plays include <em>Dog Sees God</em>,&nbsp;<em>Moonchildren</em>, and&nbsp;<em>Mr. Marmalade</em>.
         <li>MisQast</li>
             Quadramics' annual cabaret-style benefit show in which anybody and everybody is invited to perform a song or monologue from a role that is completely wrong for them.
         <li>Spring Fling Musical</li>
             Our famous midnight show is among the great Spring Fling traditions. Past musicals include&nbsp;<em>Avenue Q</em>,&nbsp;<em>The Wild Party</em>, and&nbsp;<em>Little Shop of Horrors.&nbsp;</em>You don't want to miss out!
         </ul>
        <p></p>
      </section>
    </section>
   </body>
  </html> 