<section class="page" id="board">
      <section class="text">
      <h1>Board</h1>
      <h2>What do you hooligans look like?</h2>
          
        <section class="member"><img src="images/zach.jpg">
            <span>CHAIR</span> <br>
            <strong>Zach</strong> "So Upstate" <strong>St. Louis</strong>
        </section>

        <section class="member"><img src="images/oscar.jpg">
            <span>VICE CHAIR</span> <br>
            <strong>Oscar</strong> "Green Card" <strong>Serpell</strong>
        </section>

        <section class="member"><img src="images/banna.jpg">
            <span>COMMUNITY LIAISON</span> <br>
            <strong>Banna</strong> "Del Rey" <strong>Gebre</strong>
        </section>
        
        <section class="member"><img src="images/harrison.jpg"><br>
            <span>BUSINESS MANAGER</span> <br>
            <strong>Harrison</strong> "Look at this Modeling Picture" <strong>Pharamond</strong>
        </section>
        
        <section class="member"><img src="images/kyla.jpg"><br>
            <span>SECRETARY/WEBMASTER</span> <br>
            <strong>Kyla</strong> "Small and Questionably Mighty" <strong>Balkan</strong>
        </section>
        
        <section class="member"><img src="images/scott.jpg">
            <span>Q LIAISON</span> <br>
            <strong>Scott</strong> "Pretty Boy" <strong>Cesta</strong>
        </section>
        
        <section class="member"><img src="images/ben.jpg">
            <span>SOCIAL CHAIR</span> <br>
            <strong>Ben</strong> "Smooth Talker" <strong>Behrend</strong>
        </section>
        
         <section class="member"><img src="images/mira.jpg">
            <span>TREASURER</span> <br>
            <strong>Mira</strong> "The Rock" <strong>Taichman</strong>
        </section>

		<section class="member"><img src="images/jen.jpg">
            <span>TECH DIRECTOR</span> <br>
            <strong>Jen</strong> "Brofield" <strong>Schofield</strong>
        </section>
        
        <section class="member"><img src="images/joe.jpg">
            <span>Q LIAISON</span> <br>
            <strong>Joe</strong> "Mr. 305" <strong>Nahra</strong>
        </section>
        
         <section class="memberhidden"><img src="images/Q.jpg">
            <span>Q LIAISON</span> <br>
            <strong>Joe</strong> "Mr. 305" <strong>Nahra</strong>
        </section>
        
         <section class="member"><img src="images/Q.jpg">
            <span>Q-U-A-D-RAMICS!!!</span> <br>
        </section>
           
      </section>
     </section>
