<section class="page" id="current">
      <section class="text">
      <h1>Get involved in our Fall 2014 Show:</h1>
      <h2>Large Animal Games</h2>
      <h3>By Steve Yockey</h3><br>
      <h4>directed by Blake Engelhard<br>
          produced by Oscar Serpell</h4><br>
        <p id="full-width"><em>Large Animal Games</em> is an incisive, unexpected, and larger than life tale of sex, love, and self delusion that tracks the overlapping escapades of a group of friends old enough to know better in love but still naive enough to mess things up anyway, and the man who supplies them with equal parts tough love, lingerie and self awareness. In a series of fluid scenes, Large Animal Games takes a comically skewed and razor-sharp look at modern relationships through a mix of bullfights, big game hunting and intimate apparel. </p>
       <p><span>ACTOR?</span><br>
       Come out and audition for the Fall Show this <strong>September!</strong> Stay tuned for more info on audition dates &amp; locations.</p>
       
       <p><span>TECHIE?</span><br>
       Look out for tech interviews <strong>this Fall!</strong> We will need people to help out with sets, lights, costumes, props, and more!<br>
       </p><p><span>DIRECTOR?</span><br>
          We will accept proposals to direct our Spring 2015 Musical in <strong>December.</strong> Stay Tuned!</p>
       <p><span>QUESTIONS?</span><br>
          Contact us <a href="mailto:quadramicsboard@googlegroups.com">here</a> if you have any questions for us!</p>
         
        <p></p>
      </section>
    </section>
