<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "QUADRAMICS", '/root', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "About",    '/root' %></li>
          <li><%= link_to "Board",    '/help' %></li>
          <li><%= link_to "Get", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
